@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 8 84% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 50%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 8 84% 63%;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 98%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 0 0% 0%;

    --sidebar-primary: 0 0% 0%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 0 0% 95%;

    --sidebar-accent-foreground: 0 0% 0%;

    --sidebar-border: 0 0% 90%;

    --sidebar-ring: 8 84% 63%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 8 84% 63%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 0 0% 3%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 10%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border select-none;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Outfit", sans-serif;
  }
}
